*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these? */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #4b4b4b;
    --clr-accent: #1121d2;
    --clr-accent2: #55e947;

    --dark-gray: rgb(90, 90, 90);
  --light-gray: rgb(148, 148, 148);
  --focus-blue: rgb(69, 159, 189);

    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: .25em .25em .75em rgba(0, 0, 0, .25),
        .125em .125em .25em rgba(0, 0, 0, .15);
}

@media (min-width: 900px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General style */
html, body {
    /* IE 10-11 didn't like using min-height */
    height: 100%;
  }

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    display: flex;
  flex-direction: column;
}

section {
     padding: 4em 1em;
}

img {
    display: block;
    max-width: 100%;
}

strong {font-weight: var(--fw-bold);}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--intro {
    color: var(--clr-light);
    box-shadow: var(--bs);
}

.section__title--work {
    color: var(--clr-dark);
    padding: .5em;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    font-weight: var(--fw-reg);
}

.section__title--work strong {
    color: var(--clr-accent);
    font-weight: var(--fw-reg);
}

.section__title--work2 {
    color: var(--clr-dark);
    width: fit-content;
    padding: .5em;
    margin: auto;
    border-radius: 10px;
    font-weight: var(--fw-reg);
}

.section__title--work2 strong {
    color: var(--clr-accent2);
    font-weight: var(--fw-reg);
}

.section__subtitle--work {
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    margin: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    position: fixed;
    width: 100%;
    background-color: var(--clr-light);
    z-index: 1000;
}

.logo {
    max-width: 100px;
}

.logo__link {
    color: var(--clr-light);
    background-color: var(--clr-accent);
    text-align: center;
    padding: .25em .5em;
    font-size: var(--fs-h3);
    border: solid var(--clr-accent);
    border-radius: 10px;
}

.logo__link:hover,
.logo:hover {
    opacity: .7;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color:var(--clr-accent)
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1.25em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

/* Intro section */

.intro {
    position: relative;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
   

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

.player-button {
    background-color: #e7e7e7;
    border: 1px solid var(--clr-dark);
    color: var(--clr-dark);
    border-radius: 5px;
    box-shadow: var(--bs);
    padding: .5em;
    margin: .5em;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.player-button:disabled {
    opacity: .6;
    cursor: not-allowed;
}

  @media (hover: hover) {
    button:hover {
      transform: scale(1.05);
       background-color: var(--clr-dark);
       color: var(--clr-light);
     }
  }


.statsDisplay {
    display: none;
    margin-bottom: 1em;
}

.avgTable {
    margin: auto;
}

.gameDiv {
    border: 1px solid var(--clr-dark);
    border-radius: 10px;
    padding-top: .5em;
    margin: auto;
}

.gameTables {
    margin: auto;
    padding: 1em;
    padding-top: 0;
}

.gameTables th, td {
    padding: .25em;
}

.carousel {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding: 0;
  }
  
  .slides {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .slides::-webkit-scrollbar {
    display: none;
  }
  
  .slides-item {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100%;
  }
  
  .carousel__nav {
    padding: 1.25rem .5rem;
  }
  
  .slider-nav {
    align-items: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: .5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
  }
  
  .slider-nav:hover,
  .slider-nav:active {
    background-color: #000;
    color: #fff;
  }
  
  .slide-1 {
    background-color: #fdc;
  }
  
  .slide-2 {
    background-color: #bfd;
  }
  
  .slide-3 {
    background-color: #cdf;
  }
  
  .slide-4 {
    background-color: #dca;
  }
  
  .slide-5 {
    background-color: #ffc;
  }
  
  .carousel__skip-link {
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }
  
  .carousel__skip-link:focus {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 30px;
    height: 680px;
    justify-content: center;
    opacity: .8;
    text-decoration: none;
    width: 100%;
    z-index: 1;
  }

/* My services section */

.my-services {
    background-color: #b8b6b6;
    background-image: url(services-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: .5em auto 1em;
    background: var(--clr-light);
    opacity: .25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 900px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

.service + .service {
    margin-left: 2em;
    }
}

/* About me section */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
    }
    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My work */

.my-work {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 1em;
}

.portfolio__item {
    background: var(--clr-accent);
        overflow: hidden;
}

.portfolio__img {
    transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5; 
}

@media (min-width: 900px) {
    .portfolio {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

/* footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    font-size: var(--fs-h3);
    flex-shrink: 0;
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.searchForm {
    display: block;
}

.search {
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: .5em;
    font-size: var(--fs-body);
    margin-top: 2em;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: var(--clr-dark);
    color: #fff;
  }

  .searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;
  }

  .searchNotice {
    display: none;
    margin-top: 1em;
  }

  .tagline {
    display: block;
    margin-top: 8em;
  }

  hr {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .searchbox {
    --target-size: 48px; /* https://web.dev/accessible-tap-targets/ */
    --box-height: var(--target-size);
    --border-radius: calc(var(--box-height) / 2);
    --border-width: 2px;
    --icon-size: calc(var(--box-height) * 3/4 );
    --side-margin: calc(var(--border-radius) / 2);
    --icon-vertical-margin: calc( ( var(--box-height) - var(--icon-size) ) / 2 );
  }
  
  /* shaping the box */
  .searchbox {
    height: var(--box-height);
    max-width: 561px; /* to follow the search box of google.com */
  }
  .searchbox input[type="search"] {
    border: var(--border-width) solid var(--dark-gray);
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
  }
  
  /* Styling each component */
  .searchbox svg {
    fill: var(--dark-gray);
    height: var(--icon-size);
    width: var(--icon-size);
  }
  .searchbox input[type="search"] {
    -webkit-appearance: none; /* to prevent Safari from ignoring font-size */
    color: var(--dark-gray); 
    font-family: 'Noto Sans', Verdana, sans-serif;
    font-size: 1rem;
  }
  .searchbox input[type="search"]::placeholder {
    color: var(--light-gray);
    opacity: 1; /* to override the default of Firefox */
  }
  
   /* positioning inner elements */
  .searchbox {
    position: relative;
  }
  .searchbox svg {
    position: absolute;
    left: var(--side-margin);
    top: 2.25em;
    bottom: var(--icon-vertical-margin);
  }
  .searchbox input[type="search"] {
    padding-left: calc( var(--side-margin) + var(--icon-size) + 4px);
    padding-right: var(--side-margin);
  }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; /* Remove the left padding inside the box for Safari; see https://github.com/filipelinhares/ress/blob/master/ress.css */
  }
  
  
  /* Ensuring that tapping the icon focuses the search box */
  .searchbox svg {
    z-index: 100;
  }
  .searchbox input[type="search"] {
    background: transparent;
  }
  
  /* Styling focus state */
  .searchbox input[type="search"]:focus {
    border-color: var(--focus-blue);
    box-shadow: 0px 0px 5px var(--focus-blue);
    outline: 1px solid transparent; /* fallback for forced color modes; see https://www.sarasoueidan.com/blog/focus-indicators/#tips-for-styling-focus-indicators */
    /* it also removes the default focus ring imposed by browsers */
  }
  
  /* Custom-style the delete button that appears once the user enters text (Chrome and Safari only); see https://css-tricks.com/webkit-html5-search-inputs/#aa-styling-search-graphical-widgets */
  .searchbox input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
    /* Now your own custom styles */
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(148, 148, 148)' %3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z' /%3E%3C/svg%3E%0A");
    height: calc(var(--box-height) / 2);
    width: calc(var(--box-height) / 2);
  }
  
  input[type="search"] {
    -webkit-tap-highlight-color: transparent; /* Otherwise, tapping will show a flash of grey background on iOS Safari; see https://twitter.com/masa_kudamatsu/status/1429387005658468356 */
  }
  
  
  /* Positioning the search box */
  body .searchbox {
    width: 90%;
    margin: 0 auto;
  }
